---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import IconLink from "../components/IconLink.astro";
import Projects from "../components/Projects.astro";
import TitleSection from "../components/TitleSection.astro";

// Icons
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import Code from "../components/icons/Code.astro";
---

<Layout
	title="Portafolio de Samuel Vargas. Desarrollador y Programador en Flutter"
	description="Conoce a Samuel Vargas, desarrollador y programador en Flutter ubicado en Bogotá, Colombia. Conoce más sobre su experiencia y proyectos."
>
	<main class="px-4 flex flex-col items-center">
		<SectionContainer class="mx-auto py-44 pb-20">
			<h1
				class="text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 mx-auto"
			>
				<img
					class="size-12 rounded-full"
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
					alt="Samuel Vargas"
				/>
				Hola, soy Samuel Vargas
			</h1>
			<h2
				class="opacity-80 text-2xl lg:text-3xl max-w-[700px] text-pretty"
			>
				Desarrollador en Flutter con 1 año de experiencia. De Bogotá,
				Colombia. En busca de alcanzar siempre nuevos horizontes.
			</h2>

			<!-- Contact info -->
			<nav class="flex gap-4 flex-row py-6 flex-wrap">
				<!-- GitHub -->
				<IconLink
					href="https://github.com/SamuelVar05"
					icon={GitHub}
					label="GitHub"
				/>

				<!-- Linkedin -->
				<IconLink
					href="https://www.linkedin.com/in/SamuelVar05"
					icon={LinkedIn}
					label="LinkedIn"
				/>

				<!-- Mail -->
				<IconLink
					href="mailto:sjvc0595@gmail.com"
					icon={Mail}
					label="sjvc0595@gmail.com"
				/>
			</nav>
		</SectionContainer>

		<!-- Projects -->
		<SectionContainer id="projects" class="py-20">
			<TitleSection>
				<Code />
				Proyectos
			</TitleSection>
			<Projects class="mx-10" />
		</SectionContainer>

		<!-- About me -->
		<SectionContainer id="about" class="py-20">
			<TitleSection>
				<Code />
				Sobre mí
			</TitleSection>
			<article
				class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
			>
				<div
					class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
				>
					<p>
						¡Hola! Soy Samuel Vargas, desarrollador Flutter con 1
						año de experiencia creando aplicaciones móviles
						multiplataforma. Me apasiona combinar funcionalidad y
						diseño para construir aplicaciones que ofrezcan
						experiencias de usuario intuitivas y eficientes. He
						trabajado principalmente con Flutter y Provider,
						integrando APIs y asegurando un manejo óptimo del estado
						en mis proyectos.
					</p>

					<p>
						En mi tiempo libre, disfruto del fútbol y me apasiona el
						aprendizaje de idiomas, lo cual también me ayuda en mi
						carrera como desarrollador y en la comunicación en
						distintos contextos.
					</p>

					<p></p>
				</div>

				<img
					class="size-200 order-1 md:order-2"
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
					alt="Samuel Vargas"
				/>
			</article>
		</SectionContainer>
	</main>
</Layout>
