---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import IconLink from "../components/IconLink.astro";

// Icons
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
---

<Layout
	title="Portafolio de Samuel Vargas. Desarrollador y Programador en Flutter"
	description="Conoce a Samuel Vargas, desarrollador y programador en Flutter ubicado en Bogot치, Colombia. Conoce m치s sobre su experiencia y proyectos."
>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hola, soy Samuel Vargas
			</h1>
			<h2 class="opacity-80 text-2xl text-wrap">
				Desarrollador en Flutter con 1 a침o de experiencia. De Bogot치,
				Colombia. En busca de alcanzar siempre nuevos horizontes.
			</h2>

			<!-- Contact info -->
			<nav class="flex gap-x-2 flex-row py-6">
				<!-- GitHub -->
				<IconLink
					href="https://github.com/Sjvc0595"
					icon={GitHub}
					label="GitHub"
				/>

				<!-- Linkedin -->
				<IconLink
					href="https://www.linkedin.com/in/sjvc0595"
					icon={LinkedIn}
					label="LinkedIn"
				/>

				<!-- Mail -->
				<IconLink href="" icon={Mail} label="sjvc0595@gmail.com" />
			</nav>
		</section>
	</main>
</Layout>
