---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import IconLink from "../components/IconLink.astro";
import Projects from "../components/Projects.astro";

// Icons
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import Code from "../components/icons/Code.astro";
---

<Layout
	title="Portafolio de Samuel Vargas. Desarrollador y Programador en Flutter"
	description="Conoce a Samuel Vargas, desarrollador y programador en Flutter ubicado en Bogot치, Colombia. Conoce m치s sobre su experiencia y proyectos."
>
	<main class="px-4">
		<section class="w-full lg:w-[740px] mx-auto py-44 pb-20">
			<h1
				class="text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				<img
					class="size-12 rounded-full"
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
					alt="Samuel Vargas"
				/>
				Hola, soy Samuel Vargas
			</h1>
			<h2
				class="opacity-80 text-2xl lg:text-3xl max-w-[700px] text-pretty"
			>
				Desarrollador en Flutter con 1 a침o de experiencia. De Bogot치,
				Colombia. En busca de alcanzar siempre nuevos horizontes.
			</h2>

			<!-- Contact info -->
			<nav class="flex gap-4 flex-row py-6 flex-wrap">
				<!-- GitHub -->
				<IconLink
					href="https://github.com/Sjvc0595"
					icon={GitHub}
					label="GitHub"
				/>

				<!-- Linkedin -->
				<IconLink
					href="https://www.linkedin.com/in/sjvc0595"
					icon={LinkedIn}
					label="LinkedIn"
				/>

				<!-- Mail -->
				<IconLink
					href="mailto:sjvc0595@gmail.com"
					icon={Mail}
					label="sjvc0595@gmail.com"
				/>
			</nav>
		</section>

		<!-- Projects -->
		<section id="projects" class="py-20">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code />
				Proyectos
			</h2>
			<Projects />
		</section>
	</main>
</Layout>
