<header class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto">
    <img
        class="size-12 rounded-full"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
        alt="Samuel Vargas"
    />

    <nav class="flex flex-row gap-x-20 opacity-80">
        <a href="#top">Home</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </nav>
</header>
