---
// Obtain the props
const { href, icon: Icon, label, "data-i18n-case-study": hasCaseStudy } = Astro.props;
---

<a
    href={href}
    class="flex items-center space-x-2 rounded-full border justify-center gap-x-2
    hover:scale-110 transition px-4 py-2
    bg-slate-700/30 hover:bg-slate-700/20
    dark:border-white/10 dark:hover:bg-white/10 "
    target="_blank"
>
    <Icon class="size-6" />
    <span {...(hasCaseStudy !== undefined ? { "data-i18n-case-study": "" } : {})}>{label}</span>
</a>
